{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>| About Me |</title>
<link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css" />
{% endblock title %}
{% block content %}
<div class="scrollable">
    <div class="section1">
        <div class="psudodiv">

        </div>
        <div class="pic">
            <img src="{% static 'images/Demo_pic.png' %}">
        </div>
        <div class="psudodiv">

        </div>
    </div>
    
    <div class="headers">
          
        <div class="birthdate">
            <i><h3>Septemeber,2003</h3></i>
        </div>

        <div class="name">
            <i><h3>Jawdat Tayfour</h3></i>
        </div> 

        <div class="nationality">
            <i><h3>Syrian</h3></i>
        </div>
    </div>

    <div class="body">
        <div class="about">
        <p>It all started a <strong>couple of years ago</strong>. I was still in high school 
        <strong>daydreaming&nbsp;</strong>about the day I will get my feet wet and start to 
        learn programming and go on the path to make the game I <strong>dream</strong> to 
        make.</p><br>
        <p>A year or two &nbsp;go by and I have released <strong>5 indie games&nbsp;
        </strong>on my itch.io account. It was a dream coming true to see my creations 
        <strong>alive</strong>.</p><br>
        <p>But, life has its own <strong>ups and downs</strong> and I had to take a year 
        break to study for my General Certificate of Secondary Education&apos;s test. Many 
        obstacles later, I get on building my knowledge of algorithms and data structures 
        &nbsp;and on the way fall in love with <strong>the art &amp; the science</strong> of 
        Web Development.&nbsp;</p><br>
        <p>The page that you&apos;re reading this text from is, in fact, a part of the first 
        website I deployed and wrote both <strong>the front &amp; the back end </strong>of 
        from scratch, although I have many more projects on my <strong>Github </strong>but I 
        consider this to be the first serious project of mine.</p><br>
        <p>Contact me on <a href="mailto:18jwdat@gmail.com">
        <strong>18jwdat@gmail.com</strong></a><strong>&nbsp;</strong>for any inquires.</p><br>
        <p>Programming languages which my strength lies within: <strong>Python, HTML, CSS</strong> .</p>
        <p>Programming languages which I&apos;m familiar with and worked with before: <strong>C++, Java, GD-script</strong>.&nbsp;<br><br>Technologies in my tool bag : <strong>Django web framework, VS Code, Docker, SQLite, PostgreSQL, Godot Engine</strong>.</p>
        <p>I would like to learn [<strong>JavaScript</strong>, <strong>React framework</strong>, ] in the near future.</p>
        <h2><br></h2>
        </div>
    </div>
</div>



{% endblock content %}
